---
import AdminLayout from '@layouts/BaseLayout.astro';
import InvoicePanel from '@components/angkasapura/InvoicePanel.jsx';
---

<AdminLayout title="Page Admin" , description="Admin dashboard page">
  <!-- Komponen controller -->
  <div class="row m-4" style="min-height: 500px;">
    <InvoicePanel client:only />
  </div>
</AdminLayout>
