---
import Head from "../layouts/base/LayoutHead";
interface Props {
  title: string;
  description: string;
}
const {
  title = "Belekok Astro",
  description = "Frontend SSR project powered by Astro and React.",
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-skin="default"
  data-bs-theme="light"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-starter"
>
  <Head client:load description={description} title={title} />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
