---
import AdminLayout from '@layouts/BaseLayout.astro';
---

<AdminLayout title="Page Admin" , description="Admin dashboard page">
  <h1>Admin Dashboard</h1>
  <p>Welcome to the admin dashboard. Here you can manage your site settings and content.</p>
</AdminLayout>
